.portfolio-manager-wrapper{
    display: grid;
    grid-template-columns: 3fr 1fr;

    .left-column{
        background-color: #f6f6f6;
    }

    .right-column{
        background-color: $charcoal;
    }
}